.about {
  min-height: 100vh;
  padding: 1.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}


.about-ul {
  font-size: 1.05rem;
  justify-content: center;
  line-height: 1.5rem;
  margin-top: 1.5em;

}


.about-icon {
  height: 25px;
  width: 25px;
  color: var(--third);
}

.about-par {
  font-size: 1rem;
  line-height: 2rem;
}

@media screen and (min-width: 620px) {
  .about-content {
    width: 65%;
    /* text-align: center; */
  }

.about-ul {
  text-align: left;
  line-height: 2em;
}


}
@media screen and (min-width: 980px) {
  .about-content {
    width: 40%;
    text-align: left;
  }
 
  .about-par {
    font-size: 1.2em;
    line-height: 2em;
  }

  .about-ul {
    font-size: 1.2em;
    margin-top: 2em;
    line-height: 1.8em;
  }
}
